/* Asegura que el body y el html ocupen toda la altura */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Estilo general para el Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 20px;
  background-color: #A0D4DF;
  border-top: 1px solid #ddd;
  color: white;
  flex-shrink: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
  color: #ffff;
  text-align: center;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .footer {
    height: 90px;
  }
}
