/* Estilo general para el Footer */
.footer {
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos estén en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 60px; /* Mismo tamaño que el navbar */
    padding: 20px; /* Espaciado interno */
    background-color: #A0D4DF; /* Color de fondo claro */
    border-top: 1px solid #ddd; /* Línea superior para separar el footer */
    color: white; /* Color de texto blanco */
    position: fixed; /* Asegura que el footer quede en la parte inferior */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el footer esté encima de otros elementos si es necesario */
  }
  
  .footer p {
    margin: 5px 0; /* Espaciado vertical entre los párrafos */
    font-size: 14px; /* Tamaño de fuente ajustado */
    color: #ffff; /* Color de texto gris */
    text-align: center; /* Centra el texto */
  }
  
  /* Media query para pantallas pequeñas (móviles) */
  @media (max-width: 768px) {
    .footer {
      height: 90px; /* Ajusta la altura en móviles si es necesario */
    }
  }
