/* Estilo general para el Navbar */
.main-content {
  margin-top: 80px; /* Ajusta según la altura de tu navbar */
}

.navbar {
  display: flex; /* Cambiado a flex para centrar el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  height: 80px; /* Altura del Navbar */
  background-color: #A0D4DF; /* Color de fondo */
  color: white;
  padding: 0; /* Elimina cualquier padding adicional */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Contenedor del logo */
.navbar-logo-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%; /* Asegura que ocupe todo el ancho del Navbar */
  height: 100%; /* Asegura que ocupe toda la altura del Navbar */
  margin: 0;
  padding: 0;
}

/* Logo de la barra de navegación */
.navbar-logo {
  max-height: 40px; /* Ajusta el tamaño de la imagen */
  max-width: 100%;
  float: none; /* Asegúrate de que no esté flotando */
  margin: 0 auto; /* Centra el logo si hay algún margen heredado */
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .navbar {
    padding: 0 10px; /* Menos espacio en los lados para móviles */
    height: 70px; /* Ajusta la altura en móviles */
  }

  .navbar-logo {
    max-height: 30px; /* Ajusta el tamaño del logo en móviles */
  }
}

/* Media query para pantallas grandes (escritorio) */
@media (min-width: 769px) {
  .navbar {
    height: 60px; /* Asegura una altura más grande para pantallas grandes */
  }

  .navbar-logo {
    max-height: 40px; /* Logo más grande en pantallas grandes */
  }
}
