.floating-button {
    position: absolute;
    bottom: 80px; /* Ajusta este valor según la altura del footer */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Asegúrate de que el botón esté por encima del mapa */
    padding: 10px 20px;
    background-color: #A0D4DF;
    color: #fff;
    border: 2px solid #7cb7f7;  /* Borde azul */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra */
}

.floating-button:hover {
    background-color: #A0D4DF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  /* Sombra más fuerte al hacer hover */
}

.floating-button:disabled {
    background-color: #cccccc; /* Color del botón deshabilitado */
    color: #666666; /* Color del texto deshabilitado */
    cursor: not-allowed;
}

.map-legend {
  position: absolute;
  bottom: 10px; /* ↓ se mantiene abajo */
  left: 10px;
  width: 210px; 
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 8px;
  z-index: 999;
}

.map-legend h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
  padding-left: 10;
}

.map-legend img {
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
  
}

.temperatura-widget {
  position: absolute;
  bottom: 130px; /* arriba de la leyenda */
  left: 10px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  width: 210px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.weather-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.weather-card img {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.weather-card strong {
  font-size: 16px;
  color: #333;
}

.weather-card .desc {
  font-size: 13px;
  margin: 0;
  color: #666;
  text-transform: capitalize;
}

.weather-card .hora {
  font-size: 12px;
  margin: 0;
  color: #999;
}

.weather-card p {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}



/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .floating-button {
        bottom: 120px; /* Mueve el botón más arriba en dispositivos móviles */
    }
}
