.page-container {
  padding-top: 80px;
  animation-duration: 1s;
}

.list-item-custom {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
  background-color: #f8f9fa;
}

.list-item-custom:hover {
  background-color: #e0f7ff;
}

.bus-icon {
  font-size: 1.8rem;
  color: #007bff;
}

.btn-ir-mapa {
  width: 100%;
  max-width: 100px;
  margin-top: 20px;
}
