

/* Botón flotante para abrir el sidebar */
.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 20px; /* Posición inicial */
    background-color: #fff;
    color: #7cb7f7;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 2500; /* Asegura que esté sobre el sidebar */
    transition: left 0.3s ease-in-out;
}

.offcanvas-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem; /* Ajusta el tamaño si es necesario */
    font-weight: bold;
  }

